extends layout.pug

block body
  .max-w-md.w-full
   div 
    h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-black
      | Welcome to Flipper
    a.mt-6.text-center.text-1xl.leading-9.font-extrabold.text-white.block(href='/post')
      | Post a message